spring:
  jpa:
    hibernate:
      ddl-auto: validate

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USER}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
            required: false

server:
  error:
    include-message: never
    include-binding-errors: never

springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

management:
  server:
    port: ${ACTUATOR_PORT}

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    org.hibernate.SQL: WARN

app:
  mail:
    enabled: true