spring:
  jpa:
    hibernate:
      ddl-auto: update

  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.mail.MailSenderAutoConfiguration

server:
  error:
    include-message: always
    include-binding-errors: always

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

logging:
  level:
    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG

app:
  mail:
    enabled: false

management:
  server:
    port: ${SERVER_PORT}

